<!DOCTYPE html>
<html>

<body>
  <link rel="stylesheet" href="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/themes/df-messenger-default.css">
  <script src="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/df-messenger.js"></script>
  <df-messenger
    project-id="travel-chatbot-409605"
    agent-id="b0d57b17-c656-40f3-bb3f-d39b1910e978"
    language-code="en"
    max-query-length="-1"
    allow-feedback="all">
   
 <df-messenger-chat
 chat-title="visa-assistant!!!">
</df-messenger-chat>
  </df-messenger>
  <style>
    df-messenger {
      z-index: 999;
      position: fixed;
      bottom: 0;
      right: 0;
      top: 0;
      width: 600px;
    }
  </style>
</body>
</html>